<div class="container">
	<br>
	<div class="row">
		<div class="col-3">
			<br>
			<div class="row">
				<%@video_post.tag_list.each do |tag|%>
					<%= link_to tag, tag_path(tag), class: "btn btn-secondary"%>
				<%end%>
			</div>

			<br>
			<%= link_to profile_path(@video_post.user) do %>
      	<%= image_tag @video_post.user.profile_photo.thumb.url, class: 'rounded-circle mr-2'%>
      <%end%>
			<p>Posted by: <%= link_to @video_post.user.username, profile_path(@video_post.user)%></p>
			<%if @video_post.is_approved == false%>
				<p style="color: red;">Not approved by admin !</p>
			<%end%>
			<%if session[:user_id].present?%>
				<br>
				<%if current_user.is_admin || (@video_post.user == current_user && @video_post.is_approved == false)%>
					<%= link_to 'Delete', post_video_path(@video_post), method: :delete, data: { confirm: 'Are you sure that you want to delete this video?' }, class: "btn btn-primary" %>
					<%= link_to "Edit", edit_post_video_path(@video_post.id), data: { confirm: 'Are you sure that you want to edit this post?' }, class: "btn btn-secondary" %>
				<%end%>
			<%end%>


			<br>
			<br>
			<div class="row">
				<div class="col">
					<%= social_share_button_tag(@video_post.uploaded_video_url) %>
				</div>
			</div>

			<% if session[:user_id].present? %>
				<br><br>
				<%= form_for(@video_comment, url: {controller: 'video_comments', action: 'create'}, html: {multipart: true, method: :post}) do |f|%>
					<%= f.hidden_field :video_post_id, value: @video_post.id%>
					<%= f.text_area :content, value: nil, placeholder: 'Comment', class: "editable" %>

					<br>
					<%= f.submit "Comment", class: "btn btn-secondary"%>
				<%end%>
			<%end%>
		</div>

		<div class="col">
			<div class="col" style="text-align: center;">
				<br>
				<%= video_tag @video_post.uploaded_video_url, :size => "500x350", :controls => true %>
			</div>


			<div class="row">
				<div class="col-2">
					<%if @upvote.nil? && session[:user_id].present? %>
						<%= link_to 'Upvote', upvote_path(@video_post.id), method: :patch, class: "btn btn-secondary"%>
					<%else%>
						<%= link_to 'Downvote', upvote_path(@video_post.id), method: :patch, class: "btn btn-secondary"%>
					<%end%>
				</div>
				<div class="col-2">
					<p>Upvotes: <%= @video_post.upvotes.length%></p>
				</div>
			</div>
			<br>
			<div class="row">
				<p>Copy embed source:</p>
				<textarea class="form-control" rows="2" style="resize: none;"><iframe width="560" height="315" src="<%= @video_post.uploaded_video_url%>" frameborder="0" allowfullscreen></iframe>
				</textarea>
			</div>

			<br>
			<% @video_post.video_comments.each do |comment| %>
				By: <%= link_to comment.user.username, profile_path(comment.user)%>
				<p><%= simple_format comment.content%><br><small><%= comment.created_at%></small></p>
				<%if session[:user_id].present? && (current_user.is_admin || comment.user == current_user) %>
					<%= link_to "Delete", video_comment_path(comment), method: :delete, data: { confirm: 'Sigurno želiš obrisati ovaj komentar?' }, class: "btn btn-primary" %>
				<%end%>
				<br>
			<%end%>
		</div>
	</div>
</div>

<script>
  var editor = new MediumEditor('.editable', {
    toolbar: {
      allowMultiParagraphSelection: true,
      buttons: ['bold', 'italic', 'underline', 'anchor', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'quote'],
      diffLeft: 0,
      diffTop: -10,
      firstButtonClass: 'medium-editor-button-first',
      lastButtonClass: 'medium-editor-button-last',
      relativeContainer: null,
      standardizeSelectionStart: false,
      static: false,
      /* options which only apply when static is true */
      align: 'center',
      sticky: false,
      updateOnEmptySelection: false
    },
    placeholder: {
      text: 'Leave a Comment here...',
      hideOnClick: true
    }
  });
</script>