<div class="container">
	<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
		<%= form_for(@video, url: {controller: 'post_videos', action: 'create'}, html: {multipart: true, method: :post}) do |f|%>
			<div class="form-group row">
				<div class="col-md-6">
					<p>Upload a video:<br><small>Video must be under 11 MB of size</small></p>
					<%= f.file_field :uploaded_video %>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-6">
					<p>Tag the video so others can find it easier:</p>
					<%= f.text_field :tag_list,placeholder:'Tag it', class: "form-control" %>
					<small>Separate each tag with a comma</small>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-md-6">
					<%= f.submit 'Save', class: "btn btn-primary" %>
				</div>
			</div>
		<%end%>

		<% if @video.errors.any? %>
		  <div class="alert alert-danger col-md-8 offset-md-2 mt-2" role="alert">
		    <ul>
		    <% @video.errors.full_messages.each do |message| %>
		      <li><%= message %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>
	</main>
</div>
