<div class="container">
	<div class="row">
		<div class="col-3">
			<%= form_for :search, url: pages_path, method: :get, remote: true do |f|%>
				<%= f.text_field :tags, class: "form-control", placeholder: 'Search by tags'%>
				<small>Seperate each tag with a comma</small>
			<%end%>
			<br>
		</div>
		<div class="col-2">
			<%= form_for :random, url: pages_path, method: :get, remote: true do |f|%>
				<%= f.hidden_field :find%>
				<%= f.submit 'Random Tag', class: "btn btn-primary"%>
			<%end%>
		</div>
		<%if @most_used_tags.empty? == false %>
			<div class="col-2">
				<p>Popular tags:</p>
			</div>
			<div class="col">
				<% @most_used_tags.each do |tag|%>
					<%= link_to tag.name, tag_path(tag.name), class: "btn btn-secondary"%>
				<%end%>
			</div>
		<%end%>
	</div>
	<div class="row">
		<%if @videos.empty? %>
			<h5>Videos are not yet approved</h5>
		<%else%>
			<div class="col" id="show_videos">
				<%= render @videos%>
			</div>
		<%end%>
	</div>
</div>
