<div class="container">
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <div class="row">
      <div class="col">
        <%= link_to @user.profile_photo.url, target: '_blank' do %>
          <%= image_tag @user.profile_photo.medium.url, class: 'rounded-circle mr-2'%>
        <%end%>
        <br><br>
        <h4><%= @user.username%></h4>
        <br>
        <% if current_user == @user %>
          <%= link_to 'Edit Profile',edit_profile_path(@user.id), class: "btn btn-secondary", data: { confirm: 'Are you sure that you want to edit your profile?' }%>
        <%end%>


        <div class="row">
          <div class="col">
            <%= form_for :user, url: profile_path(@user), method: :get do |f|%>
              <%= f.hidden_field :approved, value: '1' %>
              <%= f.submit "Show Approved Videos", class: "btn btn-secondary" %>
            <%end%>
          </div>
          <div class="col">
            <%= form_for :user, url: profile_path(@user), method: :get do |f|%>
              <%= f.hidden_field :not_approved, value: '1' %>
              <%= f.submit "Show Not Approved Videos", class: "btn btn-secondary" %>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= form_for :followers, url: favorite_path(@user), method: :get do |f|%>
              <%= f.hidden_field :ids %>
              <%= f.submit "Followers #{@followers.length}", class: "btn btn-secondary" %>
            <%end%>
          </div>
          <div class="col">
            <%= form_for :following, url: favorite_path(@user), method: :get do |f|%>
              <%= f.hidden_field :ids %>
              <%= f.submit "Following #{@user.favorites.length}", class: "btn btn-secondary" %>
            <%end%>
          </div>
        </div>
        <%if current_user != @user%>
          <div class="row">
            <div class="col-2">
              <%if @favorite.nil? && session[:user_id].present? %>
                <%= link_to 'Follow', favorite_path(@user.id), method: :patch, class: "btn btn-secondary"%>
              <%else%>
                <%= link_to 'Unfollow', favorite_path(@user.id), method: :patch, class: "btn btn-secondary"%>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
      <div class="col">
        <% if current_user == @user %>
          <h3>Your videos: </h3>
        <%else%>
          <h3><%= @user.username%>'s videos: </h3>
        <%end%>
        <%= form_for :search, url: profile_path(@user), method: :get do |f|%>
          <%= f.text_field :tags, class: "form-control", placeholder: 'Search by tags'%>
          <small>Seperate each tag with a comma</small>
        <%end%>
        <br>
        <%= render @video_posts%>
      </div>
    </div>
  </main>
</div>