<%= form_for :message, url: messages_path, method: :post do |f| %>
	<%= f.hidden_field :to_id, value: @message.from_id%>
	<%= f.hidden_field :subject, value: "RE: #{@message.subject}"%>
	<%= f.hidden_field :parent_id, value: @message.id%>
	<%= f.text_area :content, value: nil, class: "form-control", placeholder: "Reply" %>
	<div class="actions">
		<br/>
		<%= f.submit "Reply", class: "btn btn-primary btn-sm float-xs-left", remote: true%>
	<%end%>
</div>