<div id="message-controls" class="row">
	<%= link_to "Delete Message", @message, remote: true, class: "btn btn-secondary btn-sm float-xs-right", method: :delete %>
</div>
<div id="message-layout">
	<div class="row">
		<h2><%= @message.subject %></h2>
	</div>
	<div class="row">
		<h6 style="float:left;">From: <%= @message.name_from %></h6>
		<h6 style="float:left; margin-left:10px;">To: <%= @message.name_to %></h6>
		<h6 style="float:right; margin-left:10px;"><%= @message.created_at.strftime("Sent on: %d %b. %Y") %></h6>
	</div>
	<div class="row">
		<h6>Tags: 
		<% if @message.tag_list.empty? == false %>
			<% @message.tag_list.each do |tag| %>
				<%= link_to tag, tag_path(tag), class: "btn btn-secondary"%>
			<%end%>
		<%end%></h6>
	</div>
	<div class="row">
		<br/>
		<%= simple_format @message.content, sanitize: false %>
	</div>
	<div class="row">
		<%= render partial: 'reply' %>
	</div>
</div>