<div class="container">
	<div class="row">
		<%= render 'authorize/messages/sidebar_message'%>
		<div class="col-5 offset-md-1">
			<div id="container">
				<br/>
				<%= form_for :message, url: messages_path, method: :post do |f| %>
					<%= f.text_field :to_id, class: "form-control", placeholder: 'To: Username' %>
					<br/>
					<div class="field">
						<%= f.text_field :subject, class: "form-control", remote: true, placeholder: "Subject" %>
					<br/>
					<p>Tag it: </p>
					<%= f.text_field :tag_list, class: "form-control" %>
					<small>seperate each tag with a comma</small>
					<br/>
					<br/>
					<%= f.text_area :content, class: "form-control", remote: true, placeholder: "Content" %>
					<br/>
					</div>
					<div class="actions">
					<br/>
						<%= f.submit "Send Message", class: "btn btn-primary btn-sm float-xs-left", remote: true%>
					</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
