<div class="container">
	<div class="row">
		<%= render 'authorize/messages/sidebar_message'%>
		<div class="col-8">
			<div class="container" id="show_messages">
				<div class="row">
					<div class="col-12">
						<%= link_to "Delete Message", @message, remote: true, class: "btn btn-secondary btn-sm float-xs-right", method: :delete %>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h2><%= @message.subject %></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h6 style="float:left;">From: <%= @message.name_from %></h6>
						<h6 style="float:left; margin-left:10px;">To: <%= @message.name_to %></h6>
						<h6 style="float:right; margin-left:10px;"><%= @message.created_at.strftime("Sent on: %d %b. %Y") %></h6>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<%= simple_format @message.content, sanitize: false %>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<%= render partial: 'reply' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
